<nb-card>
  <nb-card-header> Table with 2d array </nb-card-header>
  <nb-card-body>
    <table class="table">
      <thead>
        <th *ngFor="let column of data.columns.slice(1)">
          {{ column.name }}
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let row of data.data">
          <td *ngFor="let cell of row.slice(1)">{{ cell }}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>Table with friendly array</nb-card-header>
  <nb-card-body>
    <table class="table">
      <thead>
        <th *ngFor="let column of friendlyColumns">
          {{ column }}
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let row of friendly">
          <td>{{ row.no }}</td>
          <td>{{ row.title }}</td>
          <td>{{ row.desc }}</td>
          <td>{{ row.date }}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
