.column:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 3px; 
  height: 100%;
  background-color: #ccc; /* Color of the vertical line */
  border-radius: 5px;
}
