<nb-card>
  <nb-card-header>TODO</nb-card-header>
  <nb-card-body>
    <button
      nbButton
      status="primary"
      class="mb-2"
      (click)="openCreateTodoModal()"
    >
      <nb-icon icon="plus"></nb-icon>Create
    </button>
    <div class="list-container row">
      <div class="col-6 column">
        <h3>TODO</h3>
        <ngx-todo-list-item
          *ngFor="let item of todoList"
          [data]="item"
          (updateTodoEvent)="loadTodo()"
        >
        </ngx-todo-list-item>
      </div>
      <div class="col-6 column">
        <h3>Completed</h3>
        <ngx-todo-list-item
          *ngFor="let item of completedList"
          [data]="item"
          (updateTodoEvent)="loadTodo()"
        >
        </ngx-todo-list-item>
      </div>
    </div>
  </nb-card-body>
</nb-card>
