<nb-card>
  <div class="icon-container">
    <div class="icon status-{{ data?.status }}">
      <nb-icon [icon]="'star'"></nb-icon>
    </div>
  </div>

  <div class="details">
    <div class="title h5">{{ data?.title }}</div>
    <div>{{ data?.description }}</div>
  </div>

  <div class="actions">
    <div>
      <nb-icon class="mr-2" [icon]="'edit'" (click)="editTodo()"></nb-icon>
      <nb-icon [icon]="'trash'" (click)="deleteTodo()"></nb-icon>
    </div>
    <small class="text-info"
      >Due date: {{ data.dueDate | date : 'dd MMM YYYY HH:mm' }}</small
    >
  </div>
</nb-card>
