@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    flex-direction: row;
    align-items: center;
    height: 6rem;
    overflow: visible;
    cursor: pointer;

    .icon-container {
      height: 100%;
      padding: 0.625rem;
    }

    .icon {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5.75rem;
      height: 4.75rem;
      font-size: 3.75rem;
      border-radius: nb-theme(card-border-radius);
      transition: width 0.4s ease;
      transform: translate3d(0, 0, 0);
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      color: nb-theme(text-control-color);

      @each $status in nb-get-statuses() {
        &.status-#{$status} {
          $left-color: nb-theme(button-hero-#{$status}-left-background-color);
          $right-color: nb-theme(button-hero-#{$status}-right-background-color);
          background-image: linear-gradient(
            to right,
            $left-color,
            $right-color
          );
        }
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 0.625rem;
      border-left: 1px solid transparent;
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
    }

    .title {
      margin: 0;
    }

    .actions {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      padding: 0.625rem;
    }
  }
  .custom-dialog-container {
    max-width: 80%; /* Set your desired maximum width percentage */
    width: 100%; /* Ensure dialog can take full width within max-width */
  }
}

